# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyi
*.pyo

# Virtual envs
.venv/
venv/

# Packaging / build
build/
dist/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Notes
notes/
